body {
    background: rgb(195, 0, 60);
    margin: 0;
    padding: 0;
}

#logo {
    width: 150px;
    height: 40px;
}

.billion {
   margin-top: 10px;
   width: 60%; 
   margin-left: 50px;
}

.par {
    margin-top: 20px;
    font-size: 18px;
    margin-right: 1em;
    margin-left: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;
}

.par-human {
    margin-top: 20px;
    font-size: 18px;
    margin-right: 1em;
    margin-left: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.human-container-1 {
    background:white;
    //padding: 20px;
}


#webos-logo {
    transform: scale(1, 0.8);
}

#lg-optimize {
    margin-left: 60px;
    width: 200px;
    height: 200px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 20px;
}

.page-footer {
    height: 100px !important;
}

.footer-address {
    color: #f8f8f8;
}

#copyright-text {
    font-size: 11px;
}



@media only screen and (min-width: 600px) {

    #logo {
        margin-left: 20px;
    }
    #self-service-text {
        margin-top: 70px;
        margin-left: -50px;
    }

    #human-container-1 {
        padding-right: 100px;
    }

    .human-container-1 {
        padding-right: 100px;
    }

    #webos-logo {
    width: 80%;
    margin-top: 200px;
    }

    #guy-working-out-pic {
        margin-top: 70px;
        padding-left: 130px;
    }

    #group-working-out-pic {
        margin-top: 70px;
        padding-left: 130px;
    }

    #self-service-fitness-pic {
        padding-left: 50px;
        margin-top: 50px;
    }

    #lg-optimize {
    margin-top: 100px;
    margin-left: 180px;
    width: 300px;
    height: 300px;
}
    #optimize {
        margin-top: 90px;
    }
}

